{% extends "base.html" %}

{% block content %}
<br>
<h1 align="center">Список работ</h1>
{% if current_user.is_authenticated %}
    <a href="jobs" class="btn btn-secondary">Добавить новость</a>
{% endif %}
<br><br>
{% for item in jobs%}
<div class="col-md6 border rounded">
    <h2>Работа # {{item.id}}</h2>
    <table class="table table-dark table-sm">

        <tr>
            <td>Название</td>
            <td>Руководитель</td>
            <td>Продолжительность</td>
            <td>Список участников</td>
            <td>Готовность</td>
        </tr>
        <tr>
            <td>{{item.title}}</td>
            <td>{{item.user.surname}} {{item.user.name}}</td>
            <td>{{item.work_size}} часа(-ов)</td>
            <td>{{item.collaborators}}</td>
            <td>
                {% if item.is_finished %}
                    Работа завершена
                {% else %}
                    Работа не завершена
                {% endif %}
            </td>
        </tr>
    </table>
    {% if current_user.is_authenticated and current_user.id in [item.user.id, 1] %}
    <div>
        <a href="/jobs/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div><br>
{% endfor %}
{% endblock %}